/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
/*Akhir Fonts*/
.navx {
  font-size: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin: 40px 6px 40px 20px;
  text-decoration: none;
}
.navx:hover {
  color: #e1d4ff;
}
body {
  padding-top: 90px;
}
.title {
  margin-top: 0px;
}
.dork-o {
  color: rgb(37, 37, 37);
  font-family: Lato;
}
.title {
  color: rgb(48, 48, 48);
  font-family: Lato;
}
.jv {
  margin-top: 5px;
  margin-left: 7px;
  color: rgb(29, 29, 255);
}
.lz {
  padding-top: 10px;
}
.hacking {
  margin-left: 104px;
}
.txt {
  margin-top: 25px;
}
.gv {
  padding-left: 14px;
  padding-right: 14px;
}
.paragraph {
  padding-left: 2px;
  padding-right: 30px;
}
.xx {
  margin-top: 10px;
}
#dork {
  padding-top: 30px;
}
.dork {
  padding: 0px;
  background-color: rgb(31, 31, 31);
  border-radius: 4px;
}
.dork-list {
  color: white;
  padding: 0px 10px 0px 10px;
  margin: 0px 4px 0px 4px;
}
footer {
  background-color: rgb(89, 0, 255);
}
.zj {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.zj:hover {
  color: rgb(255, 255, 255);
}
.zy {
  margin-top: 16px;
  margin-bottom: 12px;
}
